services:

  backend:
    build: 
      context: ./server
    container_name: backend
    env_file:
      - ./server/.env
    networks:
      - app-network
    restart: unless-stopped

  frontend:
    build: 
      context: ./client
    container_name: frontend
    env_file:
      - ./client/.env
    networks:
      - app-network
    restart: unless-stopped



